html {
  font-size: 15px;
  height: 100%;
  width: 100%;
  display: flex;
}

body {
  margin: auto;
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit';
}

.content {
  max-width: 1440px;
  display: flex;
  justify-content: center;
}

.box {
  flex-flow: column wrap;
  background-color: white;
  padding: 0.7rem;
  max-height: 80%;
  max-width: 80%;
  box-shadow: 0.5px 0.5px 5px 0.2px rgb(211, 211, 211, 1);
}

@media only screen and (min-width: 600px) {
  .box {
    width: 20rem;
  }
}

.box .text {
  padding: 0.3rem 0.75rem 0.5rem;
  text-align: center;
}

.box .text .header {
  font-weight: 700;
  font-size: 1.5rem;
}

@media only screen and (min-width: 600px) {
  .box .text .header {
    font-size: 1.3rem;
  }
}

.box .text .description {
  font-weight: 400;
  font-size: 1.12rem;
  color: hsl(220, 15%, 55%);
}

@media only screen and (min-width: 600px) {
  .box .text .description {
    font-size: .9rem;
  }
}

.attribution {
  display: flex;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  font-size: 11px;
  background-color: rgb(0,0,0,.15);
}

.attribution p {
  margin: auto;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.full-width {
  width: 100%;
}

.border-radius-2 {
  border-radius: 0.75rem;
}

.border-radius-1 {
  border-radius: 0.5rem;
}
